@import url("main.css");

button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: "Montserrat", sans-serif;      
    font-size: 1.2em;  
    border-radius: 9px;
    color: var(--main_light);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: center;
    margin-top: 20px;
    width: 150px;
    height: 50px;
  }
button:hover{    
    background-color: var(--accent_color);
}
button a{  
  color: var(--main_light);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 400;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}