main {
    display: flex;
    align-items: stretch;
    margin: 0;
  }
  #canvas-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f02b;
  }
  #canvas {
    border: 1px solid #cccccc2b;
  }
  #settings {
    width: 300px;
    padding: 20px;
    background-color: #e0e0e02b;
  }