main {
  display: flex;
  align-items: center;
  margin: 0;
  width: 90%;
  justify-content: flex-end;

  --sidebar-bg: #222428;
  --canvas-border: 3px solid #cccccc2b;
  --content-bg:#32353b;

  --button-bg: #222428;
  --button-fg: white;

  --input-bg: #222428;
  --input-fg: white;

  --select-bg: #222428;
  --select-fg: rgb(135, 135, 136);
  --content-border: #cccccc2b 1px solid;


}
@media (prefers-color-scheme: light) {
  main {
    --content-border: black 1px solid;
   
    --sidebar-bg: hsl(0deg 0% 100%);
    --canvas-border: 3px solid #7979792b;
    --content-bg: hsl(220deg 100% 93.41% / 51%);
    --button-bg: white;
    --button-fg: #222428;
    --input-fg: #101010;
    --input-bg: white;
    --select-fg: #1c1c1d;
    --select-bg: rgb(255, 255, 255);

  }


  .content-holder {
filter: drop-shadow(1);
  }
  
  
.photo-button:hover {
  background-color: var(--accent);
  color: var(--button-bg);
}

}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f0f0f002; */
  width: 80%;
  height: 60%;
}

#canvas {
  border: var(--canvas-border);
  transform: scale(0.95);
  transform-origin: center;
  object-fit: contain;
  width: inherit;
  height: inherit;
}

#settings {
  padding: 20px;
  background-color: var(--sidebar-bg);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
  height: 70vh;

  width: 370px;
  border-radius: 20px;
}

.canvas-main-container {
  align-items: center;
}

.tab-holder {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: stretch;
}

input[type=file] {
  width: 80%;
}

.pos {

  display: none;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

input[type=file]::file-selector-button {
  border: none;
  border-radius: 4px;
  color: var(--input-fg);
  background-color: var(--input-bg);
  height: 40px;
  cursor: pointer;
  transition: all .1s ease-in;
  font-family: "Poppins";
  cursor: pointer;
  padding: 0px 15px;
}

input[type=file]::file-selector-button:hover {
  background-color: var(--accent);
  color: var(--input-fg);
  transition: all .1s ease-in;
}

input[type=file]::file-selector-button:active {
  background-color: var(--accent-darker);
}

input[type=text],
input[type=number] {
  background-color:  var(--input-bg);
  color: var(--input-fg);
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 13px;
  border: none;
  transition: all 0.3s ease;
  border: none;
  width: 80%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button !important;
  opacity: 1 !important;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: blue !important;
  border: 2.5px solid red !important;
}

.tabs {

  display: flex;
  flex-direction: column;
  /* padding: 25px; */
  gap: 25px;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.tab button {
  border: none;
  background-color: var(--sidebar-bg);
  color: rgb(135, 135, 136);
  transition: all 0.3s ease;
  width: 100%;
  min-height: 35px;
  font-size: 15px;
}

.tab button:hover {
  cursor: pointer;
  color: var(--accent);
}

.tab.active button {
  cursor: pointer;
  color: var(--accent-lighter);
  -webkit-box-shadow: 0px 3px 0px 0px var(--accent-09);
  -moz-box-shadow: 0px 3px 0px 0px var(--accent-09);
  box-shadow: 0px 3px 0px 0px var(--accent-09);
}

.content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
}


.content-holder {
  border: var(--content-border);
  background: var(--content-bg);
  border-radius: 15px;
}

.positions {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app_select {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.checkbox-container label {
  font-size: 15px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;


}

input[type='checkbox']:checked {
  border-width: 5px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

input[type=checkbox] {
  accent-color: var(--accent);
  border: none;
  background:  var(--select-bg);
  color: var(--accent);
  transition: all 0.3s ease;
  border-radius: 5px;
  aspect-ratio: 1;
  width: 16px;
}

select {
  accent-color: var(--accent);
  border: none;
  background-color: var(--select-bg);
  color:  var(--select-fg);
  transition: all 0.3s ease;
  width: 100%;
  min-height: 35px;
  font-size: 15px;
  border-radius: 5px;
  padding: 11px 14px;
  font-weight: 500;

}
option{
  accent-color: red;
  padding: 0px 10px;
}
select:hover,option:hover{
  cursor: pointer;
}
.colors {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.color-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

.color-text {
  display: none;
}

.color-picker {

  accent-color: var(--accent);
  border: none;
  background: #22242800;
  color: var(--accent);
  transition: all 0.3s ease;
  border-radius: 5px;
  width: 35px;
  height: 35px;
}

.color-picker:hover {
  cursor: pointer;
}

.mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 25px;
}

svg,
svg g,
svg g path {
  fill: aliceblue;
  --w: 120px;
  width: var(--w);
  height: var(--w);
}
@media (prefers-color-scheme: light) {
  
svg,
svg g,
svg g path {
  fill: #212125;
}
}
@media (max-width: 55em) {
  main {
    display: none;
  }

  #canvas-container {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .disableonmobile,
  .bottom-uae {
    display: none !important;
  }

}
.downloads {

  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.photo-button {
  border: none;
  background-color: var(--button-bg);
  color: var(--button-fg);
  padding: 15px 30px;
  font-weight: 600;
  border-radius: 7px;
  font-family: Poppins;
  position: relative;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  font-size: 14px !important;
  transition: all 0.3s ease;
}

.photo-button:hover {
  cursor: pointer;
  background-color: var(--accent);
}

.photo-button.glow:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 22px 0px var(--accent-09);
  -moz-box-shadow: 0px 0px 22px 0px var(--accent-09);
  box-shadow: 0px 0px 22px 0px var(--accent-09),
    0px 0px 100px 0px var(--accent-09);
}

.photo-button:active {
  background-color: var(--accent-darker);
}

.pos.active{
  display: flex;
}


.bottom-uae{
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.uae-buttons{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;

}
@keyframes progressbarindeterminateshort {
  0% {
    left: -40%;
  }

  75% {
    left: 120%;
  }

  100% {
    left: 120%;
  }
}

@keyframes progressbarindeterminatelong {
  0% {
    left: -90%;
  }

  37.5% {
    left: -90%;
  }

  100% {
    left: 100%;
  }
}
#loadingBar{
  width: var(--width);
  --width: calc(100% - (2*var(--border)));
  --border: 2px;
  display: flex;
  align-items: flex-end;
  border: var(--border) solid #cccccc13;
  border-radius: 5px;
  opacity: 0;
}
#loadingBar.visible{
  opacity: 1;
  transition: opacity .3s;
}
#pgbar {
  /* position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%); */
  width: 100% ;
}

.progress-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #222428;
  height: 9px;
  position: relative;
  border-radius: 5px;
  overflow: hidden !important;
}

.progress-bar > .short-bar {
  background-color: var(--accent);
  width: 40%;
  height: 100%;
  left: -40%;
  border-radius: 5px;
  position: absolute;
  display: inline-block;
  -webkit-animation: progressbarindeterminateshort 2s ease-in-out infinite;
  -moz-animation: progressbarindeterminateshort 2s ease-in-out infinite;
  -o-animation: progressbarindeterminateshort 2s ease-in-out infinite;
  animation: progressbarindeterminateshort 2s ease-in-out infinite;
}

.progress-bar > .long-bar {
  background-color: var(--accent);
  width: 60%;
  height: 100%;
  left: -90%;
  border-radius: 5px;
  position: absolute;
  display: inline-block;
  -webkit-animation: progressbarindeterminatelong 2s ease-in-out infinite;
  -moz-animation: progressbarindeterminatelong 2s ease-in-out infinite;
  -o-animation: progressbarindeterminatelong 2s ease-in-out infinite;
  animation: progressbarindeterminatelong 2s ease-in-out infinite;
}
