@import url('https://fonts.googleapis.com/css2?family=Poppins');
#fixed{
    visibility: collapse;
    opacity: 0;
}
:root{
    --bg: #181818;
    --accent: rgb(79, 77, 198);
    --accent-hex: #4f4dc6;
    --accent-halfop: #4f4dc6ab;
    --fg: #F2F2F2;
    --fg-halfop: #d8ecff36;
    --card-bg: #252527;
    --card-bg2: #252527;
    --bg2: #4d4bb4;
    --bg3: #4f4dc600;
    --input-bg: #181818;
    --hover1: #cbb7ff;


    --size-1: 25px; 
    --size-2: 60px; 
    --size-3: 15px; 
    --size-4: 20px; 
    --size-5: 50px; 
    --size-6: calc(var(--size-3) + var(--size-3) / 15 );  /* 16px */ 
    --size-7: calc(var(--size-6) +var(--size-6) / 3); /* 24px */ 
}
::selection{
    background-color: var(--accent-hex);
    color: var(--bg);

}
*{
    font-family: 'Poppins';
    color: var(--fg);

} 
*:not(#navbar){
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
a{
    
    text-decoration: none;
    text-align: center;
    vertical-align:middle;
}
a[class="hover-effect"]:hover{    
    text-decoration: underline !important;
}
html{

    scroll-behavior: smooth;
}
body{
    background-color: var(--bg);
    width: 70%;
    margin-left: 15%;
}
nav{
    top: 15px;
    width: 70%;
    position: fixed;
    background-color: rgba(var(--bg),0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    height: 50px;

    padding: 15px;
    border-radius: 13px;
    z-index: 99;
}
.nav-item{
    text-decoration: none;
    color: var(--fg);
    margin-right: 30px;
   /* font-size: 25px;*/
    font-size: var(--size-1);
    font-weight:100 !important;
    vertical-align: middle;
    text-align: center;
}
.nav-item:hover{
    filter: drop-shadow(0px 4px 6px var(--bg));
}

nav .right{
    display: flex;
    flex-direction: row;
    justify-content: end;    
}
section{
    color: var(--fg);
    min-height: 100vh !important;
    margin-bottom: 1vh;
    height: auto !important;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .imText{
    /* font-size: 60px;*/
     font-size: var(--size-2);
    font-weight: bold;
    margin-bottom: 50px;

    display: flex;
    justify-content: left;

}

.hidden {
    opacity:0;
  }
  
@media (max-width: 800px) {
    .console-container{
        height: 300px;
    }
    section .imText{
        display: initial;
    }
    
}
.console-container {
    font-size:var(--size-2);
    font-weight: bold;

    
  
}
.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }

section .hiText{
    /* font-size: 15px;*/
    font-size: var(--size-4);
    
    font-weight: normal;
    display: flex;
    justify-content: flex-start;
}


button{    
    padding: 5px 15px 5px 15px;
    position: relative;
    background-color: var(--accent);
    color: var(--fg);
    border: none;
    cursor: pointer;

    min-width: 150px;
    width: max-content;
    height: 45px;
    border-radius: 6px;
    
    /*  font-size: 20px !important; */
    font-size: var(--size-4) !important; 
   
    text-align: center !important;
}
button:hover{
    filter: brightness(125%);
}
button:active{
    filter: brightness(85%);
}
.reveal-up {
    opacity: 0;
    visibility: hidden;
  }
#about{
    vertical-align: middle;
    padding-right: 25px;
}
.mra button{
    margin-top: 25px;
    margin-left: 25px;
}

#summary .button-holder{
    display: flex;
    flex-direction: row;
}

#summary .button-holder button:not(:first-child){
    margin-left: 15px;
}
section .title{
    
    /*
    font-size: 50px;*/
    font-size: var(--size-5); 
    font-weight: bold;
    margin-bottom: 50px;
}
#about .text{
    /*  font-size: 16px;*/
    font-size: var(--size-6); 
    font-weight: normal;
    padding-left: 25px;
    width: 70%;
}
.card-container{        
    padding: 5px;
    display: grid;
    grid-gap: 25px;
    grid-area: auto;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, 320px);
}

@media (max-width: 1000px) {    
    
    .myworks{
        margin-bottom: 95px !important;
    }
    
    
}
@media (max-width: 1470px) {
    
    .myworks{
        margin-bottom: 95px !important;
    }
}

.card:hover{
    box-shadow: 0px 13px 1px var(--accent-hex);
    box-shadow: 0px 0px 10px var(--accent-hex);
}
.card{
    background-color: var(--card-bg);
    min-width: 210px;
    max-width: 227px;

    padding: 45px;
    border-radius: 13px;
    
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.545));
}
.card .icon{
    text-align: center;
}
.card .title{
    /* font-size: 24px;*/
    color: var(--accent-hex);
    font-size: var(--size-7); 
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
}
.card .text{
    /* font-size: 16px;*/
    font-size: var(--size-6); 
    font-weight: normal;
    margin-bottom: 30px;
    min-height: 100px;
}
svg{
    width: 100px;
    height: 100px;
    fill: var(--fg);
}

@media  (min-width: 800px) {
    
    :root{
        --size-1: 25px; 
        --size-2: 70px; 
        --size-3: 15px; 
        --size-4: 20px; 
        --size-5: 50px; 
        --size-6: calc(var(--size-3) + var(--size-3) / 15 );  /* 16px */ 
        --size-7: calc(var(--size-6) +var(--size-6) / 3); /* 24px */ 
    }
}

@media  (max-height: 700px) {

    #summary{
        margin-top: 60px;
    }
    section .imText {
        margin-bottom: 10px;
    }
}
@media  (max-width: 1000px) {

    .contact-container{
        flex-direction: column !important;
    }
    .contact-container .left{   
        width: auto !important;
        border-radius: 10px 10px 0px 0px !important; 
    }
    .contact-container .right{
        width: auto !important;
        border-radius: 0px 0px 10px 10px  !important;
    }
    
}
.contact-container{    
    width: auto !important;
    display: flex;
    flex-direction: row;
    /* font-size: 16px; */
    font-size: var(--size-4);
    justify-content: flex-start;
    align-items: stretch;
}
.contact-container button{
  /*  border: 1px solid var(--fg);*/
}
.contact-container .left{    
    width: 100%;
    padding: 25px;
    background-color:var(--card-bg);

    border-radius: 15px 0px 0px 15px ;
}
.contact-container .left .textbox{
    width: 100%;
    margin-bottom: 15px;
}
.contact-container .left .textbox input, .contact-container .left .textbox textarea{
    background-color: var(--input-bg);
}.contact-container .right .textbox input{
    background-color: var(--accent-hex);
}

::placeholder {
    color: var(--fg);
    opacity: 0.5; 
  }
input:focus
,textarea:focus{
	border-color: inherit;
    -webkit-box-shadow: none;
	box-shadow: none;

}
textarea{
    min-height: calc(var(--size-4) + 5px);
}
.textbox input, textarea{
    width: calc(95%) !important;
    max-width: calc(95%) !important;
    min-width: calc(95%) !important;
    background-color: var(--card-bg);
    color: var(--fg);
    border-radius: 5px;
    padding: 10px;

    font-size: calc(var(--size-4) - 4px); 
    border: none;
}
.contact-container .right{

    width: 100%;
    padding-left: 35px;
    padding-top: 50px;
    background-color:var(--card-bg);

    border-radius: 0px 15px 15px 0px ;
}
.contact-container .right .title{
font-size: var(--size-4);
font-weight: normal;
}


.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent);
    backdrop-filter: blur(15px);
    
    -webkit-backdrop-filter: blur(15px);
    color: var(--fg);
}

.brand-title {

    /* font-size: 24px;*/
    font-size: var(--size-7); 
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

@media (min-width:800px) and (max-width:880px){
    .navbar-links li a{
        
        /* font-size: 15px;*/
        font-size: var(--size-3); 
    }
    .navbar-links li{
        transform: translateY(10%);
    }
}
.navbar-links li {
    width: auto;
    cursor: pointer;
    
    /* font-size: 20px;*/
    font-size: var(--size-4); 
    font-weight: normal;
    list-style: none;
    border-radius: 14px;
    padding:10px 25px 10px 25px;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: var(--fg);
}

.navbar-links li:hover {
    font-weight: bold;
    background-color: var(--bg2);
}

.toggle-button {
    cursor: pointer;
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--fg);
    border-radius: 13px;
}

@media (max-width: 800px) {
    :root{
        --size-1: 25px; 
        --size-2: 60px; 
        --size-3: 15px; 
        --size-4: 20px; 
        --size-5: 50px; 
        --size-6: calc(var(--size-3) + var(--size-3) / 15 );  /* 16px */ 
        --size-7: calc(var(--size-6) +var(--size-6) / 3);
    }
    body{
        background-color: var(--bg);
        width: 90%;
        margin-left: 5%;
    }
    nav{
        width: 90%;
        margin-left: -2.5%;
      
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display:flex;
        transform: translateY(80%);
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        margin-top: 24px;
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        background-color: var(--bg);
        border: 2px solid var(--accent-hex);
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    #summary .button-holder{
        flex-direction: column;
    }
    #summary .button-holder button:not(:first-child){
        margin-left: 0px !important;
        margin-top: 15px;
    }
}
.social:last-of-type{
    margin-bottom: 75px;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: start;

    margin-bottom: 15px;
}
.social .icon svg{
    width: 33px;
    height: 33px;
}
.social .url{
    margin-top: 2px;
    position: relative;
    margin-left: 15px;
    font-size: calc(var(--size-6));
}
.social .url:hover{
    color: var(--hover1);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    text-decoration: underline !important;
}


@keyframes revealAnim {
  
    from{
      
        opacity: 0;
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
      }
    to {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
  
  }





footer{
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--fg-halfop);
}





























.bubble-container{
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -999;
}

.bubbles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bubbles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px; 
    background: rgb(75 76 176);
    opacity: .1;
    animation: animate 25s linear infinite;
    bottom: -150px;
    border-radius: 50%;
    z-index: 0;
    
}

.bubbles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.bubbles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.bubbles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.bubbles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.bubbles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.bubbles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.bubbles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.bubbles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.bubbles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.bubbles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}


.bubbles li:nth-child(11){
    left: 31%;
    width: 69px;
    height: 69px;
    animation-delay: 1s;
    animation-duration: 6s;
}

.bubbles li:nth-child(12){
    left: 27%;
    width: 89px;
    height: 89px;
    animation-delay: 3s;
    animation-duration: 13s;
}

.bubbles li:nth-child(13){
    left: 70%;
    width: 50px;
    height: 50px;
    animation-delay: 1s;
    animation-duration: 9s;
}

.bubbles li:nth-child(14){
    left: 10%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 5s;
}

.bubbles li:nth-child(15){
    left: 73%;
    width: 35px;
    height: 35px;
    animation-delay: 0s;
    animation-duration: 5s;
}
.bubbles li:nth-child(16){
    left: 97%;
    width: 15px;
    height: 15px;
    animation-delay: 4s;
    animation-duration: 8s;
}
.bubbles li:nth-child(17){
    left: 41%;
    width: 140px;
    height: 140px;
    animation-delay: 5s;
    animation-duration: 15s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: .4;
        border-radius: 50%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 35%;
    }

}
