@import url('main.css');
.clog{
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 13px;

    margin-bottom: 50px;


    
    background-color: var(--card-bg);
    filter: drop-shadow(0px 5px 0px var(--accent));

}

.clog .title{
    display: flex;
    flex-direction: column;
    font-size: var(--size-7);

    margin-bottom: 10px !important;

    font-weight: 500;
}
.clog .text{
    font-size: var(--size-6);
    margin-left: 20px;
}
@import url('main.css');
/* Popup Styling */
.download-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--accent-halfop);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center; 
    align-items: center;
    display: none;
    z-index: 999;
  }
  
  .download-popup .content {
    width: auto;
    height: auto;
    padding: 55px;
    opacity: 0;
    border-radius: 25px;
    
    background-color: var(--fg);
    color : var(--accent-darker) !important; 
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
  }
  .donate-links a svg{
    height: 45px;
    width: 45px;
    fill: var(--accent-darker);
  }
  .donate-links a:not(:first-of-type){
    margin-left: 25px;
  }

  .donate-links a:hover{
    filter: brightness(155%);
    -webkit-filter:brightness(155%);
  } 
  .donate-links a:active{
    filter: brightness(75%);
    -webkit-filter:brightness(75%);
  }
  .sep{
    background-color: var(--accent-darker);
    opacity: .7;
    border-radius: 5px;
    height: 2px;
    position: relative;
    width: 50% ;

    margin-top: 25px;
    margin-bottom: 25px;
    }
  .donate{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .donate .text{
    text-align: center;
    color: var(--bg);
  }  
    .donate-links{
    text-align: center;
  }
  .close-btn {
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .close-btn .bar {
    height: 4px;
    background: var(--fg);
  }
  
  .close-btn .bar:nth-child(1) {
    transform: rotate(45deg);
  }
  
  .close-btn .bar:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
  }
  
  .opened {
    display: flex;
  }
  
  .opened .content {
    animation: animatepopup 1s ease-in-out .8s;
    -webkit-animation: animatepopup .3s ease-in-out forwards;
  }
  
  @keyframes animatepopup {
  
    to {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
  
  }