:root {
--HoverColor: #C2D8F2ff;
--FillColor: rgb(81, 95, 187);
}
#navbar {
  background-color: rgba(81, 95, 187, 0.767); /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -700px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: var(--HoverColor);
  text-align: center;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 60px;
  margin-right: 120px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: var(--HoverColor);
  color: black;
}